*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
/* section one */
.btn{
  background-color: #E55473;
  color: white;
  border-radius: 8px;
  padding: 20px 40px;
  border: none;
}
p{
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}
/* universal tag */
.banner{
  background-color: rgba(229, 84, 115, 0.10);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.banner-heading{
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 30px;
}
.banner-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}
.banner-part2 img{
  height: 800px;
}
/* second part */
.feature-text1{
  color:#272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.feature-block{
  display: flex;
  justify-content: center;
}
.feature-img img{
  padding-left: 50px;
  padding-top: 167px;


}
.feature-img h2{
  text-align: center;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
 
}
#feature-img-one{
  height: 538px;
  width: 464px;
  background-color: rgba(167, 33, 98, 0.15);
  margin: 24px 0;
}
#feature-img-one img{
  height: 370px;
  width: 370px;
 
}
#feature-img-two{
  height: 538px;
  width: 464px;
  background-color: rgba(5, 151, 160, 0.15);
  margin: 24px;
}
#feature-img-two img{
  height: 370px;
  width: 370px;

}
#feature-img-three{
  height: 538px;
  width: 464px;
  background-color: rgba(71, 125, 17, 0.15);
  margin: 24px 0;
}
#feature-img-three img{
  height: 370px;
  width: 370px;
}
/* section three */
.deal{
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  margin: 100px 0;
  width: 100%;
}
.deal-heading{
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  padding-bottom: 30px;
}
.deal-heading span{
  color:#E55473;
}
.deal button{
  margin-left: 190px;
  margin-top: 30px;
}
.deal-one{
 margin-right: 50px;
}
.deal-img{
  margin-left: 50px;
}
/* section four */
.layout{
  margin-bottom: 60px;
}
.layout-img{
  display: flex;
  justify-content: center;
}
.layout-img img{
  margin: 45px 10px;
}
.layout h3{
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 24px;
}
/* last section */