*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
/* section one */
.btn{
  background-color: #E55473;
  color: white;
  border-radius: 8px;
  padding: 20px 40px;
  border: none;
}
p{
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}
/* universal tag */
.banner{
  background-color: rgba(229, 84, 115, 0.10);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.banner-heading{
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 30px;
}
.banner-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}
.banner-part2 img{
  height: 850px;
  margin-bottom: -115px;
}
/* second part */
.feature-text1{
  color:#272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.feature-block{
  display: flex;
  justify-content: center;
}
.feature-img img{
  padding-left: 50px;
  padding-top: 167px;
}
.feature-img h2{
  text-align: center;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
 }
#feature-img-one{
  height: 538px;
  width: 464px;
  background-color: rgba(167, 33, 98, 0.15);
  margin: 24px 0;
  border-radius: 300px 300px 0 0;
}
#feature-img-one img{
  height: 370px;
  width: 370px;
}
#feature-img-two{
  height: 538px;
  width: 464px;
  background-color: rgba(5, 151, 160, 0.15);
  margin: 24px;
  border-radius: 300px 300px 0 0;
}
#feature-img-two img{
  height: 370px;
  width: 370px;
}
#feature-img-three{
  height: 538px;
  width: 464px;
  background-color: rgba(71, 125, 17, 0.15);
  margin: 24px 0;
  border-radius: 300px 300px 0 0;
}
#feature-img-three img{
  height: 370px;
  width: 370px;
}
/* No mark section */
.optional{
  height: 320px;
  background-color: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 63%;
  margin: 100px auto;
}
.optional-img{
  margin: 30px 120px;
}
.optionalimg{
  margin: 30px 55px;
}
/* section three */
.deal{
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  margin: 100px 0;
  width: 100%;
}
.deal-heading{
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  padding-bottom: 30px;
}
span{
  color:#E55473;
}
.deal button{
  margin-left: 190px;
  margin-top: 30px;
}
.deal-one{
 margin-right: 50px;
}
.deal-img{
  margin-left: 50px;
}
/* section four */
.layout{
  margin-bottom: 60px;
}
.layout-img{
  display: flex;
  justify-content: center;
}
.layout-img img{
  margin: 45px 10px;
}
.layout h3{
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 24px;
}
/* Bonus section */
.bonus-heading{
  font-family: 'Lato', sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 30px;
}
.bonus{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 88vh;
  background-color: rgba(229, 84, 115, 0.05);
  margin-bottom: 100px;
}
.bonus-part1{
  background-image: url(unic-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bonus-part1 h3{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.bonus-part2 img{
  width: 500px;
  height: 500px;
  border-radius: 5px;
}
.bonus-part1 button{
  margin: 30px 0 0 140px;
}
.bonus-img-one{
  margin-bottom: 300px;
  margin-right: -150px;
  position: relative;
}

#bonus-part-no{
  margin-top: 450px;
}
/* last section */
.latest{
  background-image: url(Rectangle\ 9.png);
  height: 450px;
  width: 1440px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.latest h3{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}
.latest p{
  margin-bottom: 40px;
}
#email{
  height: 64px;
  width: 680px;
  border: none;
  border-radius: 8px;
  padding-left: 20px;
  margin-right: 10px;  
}
/* footer section */
.footer{
  background-color: #111010;
  width: 100%;
  height: 450px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.footer h3{
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer p{
  color: white;
  margin-bottom: 20px;
}
.footer-last{
  color: rgb(110, 106, 106);
  text-align: center;
}